__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
artifacts/**
!artifacts/.gitkeep
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep
use_cases/**/models/**
use_cases/**/plots/**
use_cases/**/logs/**
*.pth
*.png
*.pdf
*.csv
*.html
pensive/**
use_cases/abr/*/train
use_cases/abr/*/test
